extends _layout

block append head
	title QUBU
	meta(name="description" content="The Buzztastic Quiz Buzzer!")
	meta(name="keywords" content="quiz, game, quiz game, buzz, buzzer, quiz buzzer,")
	style.
		.splash-1 { width: 20vw;}
		.splash { max-width: 60vw;}
		.rotate { animation: rotation 2s infinite linear; }
		.event { position: absolute; }
		.event__image { position: relative }

		.event__image--small { width: 50px; height: 50px; animation: small 5s forwards; }
		.event__image--medium { width: 100px; height: 100px; animation: medium 5s forwards; }
		.event__image--large { width: 150px; height: 150px; animation: large 5s forwards; }

		@keyframes rotation {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(359deg);
			}
		}

		@keyframes small {
			0%   { opacity: 0; left: 0 }
			5%   { opacity: 1; }
			50%  { opacity: 1; }
			100% { opacity: 0; left: -50px }
		}

		@keyframes medium {
			0%   { opacity: 0; left: 0 }
			5%   { opacity: 1; }
			50%  { opacity: 1; }
			100% { opacity: 0; left: -100px }
		}

		@keyframes large {
			0%   { opacity: 0; left: 0 }
			5%   { opacity: 1; }
			50%  { opacity: 1; }
			100% { opacity: 0; left: -150px }
		}
		.stats-section { padding: 1rem 0; background-color: #2B3C4D; color: #fff; }
		.stats { display: flex; flex-wrap: wrap; justify-content: space-between; align-items: stretch; }
		.stat { margin: 1rem; flex: 1 0 10rem; padding: 2rem; background-color: #34495E; border-radius: .25rem; }
		.stat__count { display: block; margin-bottom: 1rem; font-size: 4rem; text-align: right }
		.stat__heading { display: block; text-align: right; font-style: italic; }
		.download-section { background-color: #fff; color: #333; }

block append main
	main
		section.section.jumbotron-section
			.jumbotron-section__background
			.jumbotron
				img.splash.rotate(src="splash_3.png" alt="QuBu - The buzztastic quiz buzzer." title="QuBu")
				nav.jumbotron__nav
					a.button.button--large.get-started-button(href="https://app.qubu.io/") Get started
		section.section.stats-section
			.container
				h2.heading-2 Stats
				.stats
					each stat in stats
						case stat.metric
							when "quiz.created"
								p.stat
									span.stat__count= stat.count
									span.stat__heading Quizzes created
							when "quiz.team.created"
								p.stat
									span.stat__count= stat.count
									span.stat__heading Teams formed
							when "quiz.player.created"
								p.stat
									span.stat__count= stat.count
									span.stat__heading Players joined
							when "quiz.round.created"
								p.stat
									span.stat__count= stat.count
									span.stat__heading Rounds played
							when "quiz.round.buzz.created"
								p.stat
									span.stat__count= stat.count
									span.stat__heading Buzzes

block append body
	script(src="/socket.io/socket.io.js")
	script(src="index.js")
